<footer>
  <div class="moo-footer">
    {% for link in section.settings.footer_menu.links %}
    <a href="{{ link.url }}">{{ link.title }}</a>
    {% endfor %}
  </div>
</footer>
{% schema %}
{
  "name": "Moo Footer",
  "presets": [
    {
      "name": "Moo Footer"
    }
  ],
  "settings": [
    {
      "type": "link_list",
      "id": "footer_menu",
      "label": "Footer Menu"
    }
  ]
}
{% endschema %}